@import "variables.scss";
@import "radio.scss";

.configuration,
.title,
.news-banner,
.shopping-cart,
.search,
.hot-products {
    border: 4px solid rgba($lightblue-darkest, 1);
    border-radius: 20px;
    padding: .5rem;
    margin: .5rem;
}

.configuration {
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    cursor: not-allowed;
    color: $lightblue-darkest;
}

.logged-user {
    font-size: 0.75rem;
}