@import "variables.scss";
@import "radio.scss";

.configuration,
.main-title,
.news-banner,
.shopping-cart,
.search,
.hot-products {
    border: 4px solid rgba($lightblue-darkest, 1);
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.configuration {
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    cursor: not-allowed;
    color: $lightblue-darkest;
}

.logged-user {
    font-size: 0.75rem;
}

.hot-product img{
    width: 100%;
    border-radius: 5px;
}
