<div class="card mb-4 box-shadow text-center">
    <div class="card-header">
        <p class="my-0 font-weight-normal"> {{ product.name }} </p>
    </div>
    <div class="card-body hot-product">
        <img src="http://placeimg.com/640/480/cats" alt="" srcset="">
        <p> {{ product.discount }}Kr discount! </p>
        <h5 class="card-title pricing-card-title">{{ product.price - product.discount }}Kr
            <small class="text-muted">
                <small>instead of </small>
                <del>{{ product.price }}Kr</del>
            </small>
        </h5>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"
            (click)="addToCart()">Add to cart</button>
    </div>
</div>